body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
  }
  
  .sidebar {
    width: 150px ;
    height: 100vh;
    background: #00000064;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .company-logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 50px;
  }
  
  nav  a {
    background: #402ad3;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 10px;
    color: #ffffff;
  }
  
  .sign-out a {
    position: relative;
    bottom: -700px;
    text-decoration: none;
    color: rgb(69, 61, 61);
  }
  
  main {
    flex-grow: 1;
    padding: 20px;
  }
  /* main */
  .stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .stat-item {
    text-align: center;
    font-size: 100px;
    font-weight:lighter;
  }
  
  .stat-item span {
    display: block;
    font-size: 14px;
    color: #666;
  }
  
  .actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 3vh;
  }
  
  .search-bar, .filter {
    
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  .search-bar {
    width: 100%;
  }
  .invite-button {
    background: #4a90e2;
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 1vh;
    color: #fff;
    border: none;
    padding: 10px 65px;
    border-radius: 10px;
    cursor: pointer;
  }

  .bx-user-plus {
    font-size: large;
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
    
  }
  
  .user-table th, .user-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }

  .user-table th {
    background: #f4f4f4;
  }
  
  .user-table tr:nth-child(even) {
    background: #f9f9f9;
  } 

.avatar {
    width: 5vh;
    height: 5vh;
    border-radius: 25px;
    border: 2px solid #00000064;
  }

  .avatar__wrapper {
    display: flex;
    align-items: center;
    gap: 1vh;
  }